body {
  padding: 30px;
  justify-content: flex-start;
  font-family:Arial, Helvetica, sans-serif;
}
header {
  padding: 20px;
}
span {
  padding: 8px;
}
.div {
  padding: 20px;
}
.box {
  padding: 5px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.metadata {
  padding-left: 10px;
}
.titleAndButton {
  display: flex;
}
.data {
  margin-bottom: 50px;
}
.buttons {
  padding: 10px;
}
.recommend {
  padding: 10px;
  position: relative;
  top: -300px
}
.logo span {
  background-color: rgb(233, 233, 233);
  border-radius: 15%;
}
.title-text {
  font-size: x-large;
  font-weight: bold;
}
.title {
  font-size: medium;
}
.profile-img {
  width: 50px;
  height: 50px; 
  border-radius: 70%;
  overflow: hidden;
}
.recommended-img {
  width: 250px;
  border-radius: 10%;
  align-self: stretch;
}
.name {
  font-size: medium;
  font-weight: bold;
}
.hashtags {
  font-size: small;
  color: blue;
}
.videoTitle {
  font-size: x-large;
  font-weight:bold;
}
.youtuber {
  color: darkgray;
  font-size: small;
}
.views {
  color: darkgray;
  font-size: small;
}
.subscribers {
  font-size: small;
  color: darkgray;
}
.content {
  font-size: medium;
  color: rgb(92, 92, 92);
  padding-top: 10px;
  padding-bottom: 10px;
}
.subscribe {
  color: red;
  font-size: medium;
  padding-left: 150px;
}
.followings {
  color: blue;
  font-size: small;
}
.comments {
  display: flex;
  justify-content: flex-start; 
}
.contain {
  flex-grow: 1;
}
.comment-buttons {
  display: flex;
  justify-content: space-between;
}
.recommended {
  display: flex;
  flex-direction: column;
}
.channel {
  align-items: center;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}
.center {
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
li {
  list-style: none;
}
button, button:focus {
  border: none;
  outline: none;
  background-color: white;
}
.button {
  display: flex;
  justify-content: space-around;
}
.button button {
  display: flex;
  flex-direction: column;
  font-size: small;
}
.button button i {
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 30px;
}